* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  /*********/
 /* FONTS */
/*********/
@font-face {
    font-family: name-font;
    src: url(../fonts/GrapeNuts-Regular.ttf);
}

@font-face {
    font-family: main-font;
    src: url(../fonts/circular-std-medium-500.ttf);
}

@font-face {
    font-family: secondary-font;
    src: url();
}


  /*********************/
 /* CUSTOM PROPERTIES */
/*********************/
:root {
    /* COLORS */
    --bg-primary: #1e1b21;
    --bg-secondary: #3e4b5f;
    --gold-color: gold;
    --font-color: rgb(246, 246, 246);
    --font-color-lighter: rgb(164, 164, 164);


    /* FONTS */
    --name-font: name-font;
    --main-font: main-font;
    --seconday-font: secondary-font; 
}


body {
    background-color: var(--bg-primary);
    color: var(--font-color-lighter);
    font-family: var(--main-font);
}



/* NAVIGATIONBAR STYLING */
nav img {
    width: 2.5em;
    position: absolute;
    left: 1em;
    top: 1.25em;
}

nav h1 {
    font-family: var(--name-font);
    font-weight: bolder;
    color: var(--font-color);
    position: absolute;
    left: 3em;
    top: 1em;
}

header{
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 20%; 
    box-shadow: .02em .1em var(--font-color);
}

nav ul{
    list-style: none;   
    position: relative;
    left: 45em;
}

nav li{
    display: inline-block;
    padding: 0em .75em;   
}

nav li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--font-color-lighter);
}

nav li a:hover{
    color: var(--font-color);
}

a:nth-child(1){
    margin-left: 10px;
}

.current{
    color: var(--font-color);
    text-decoration: overline;
}





  /*************************/
 /* ABOUT ME PAGE STYLING */
/*************************/
/*  */
#aboutme section:nth-of-type(1) {
    position: absolute;
    left: calc(50% - 27em);

    width: 60%; 
}

#aboutme section:nth-of-type(1) p{
    text-align: center;
    margin-bottom: 1em;
}